/* Estilos gerais */
body {
font-family: 'Poppins', sans-serif;
background-color: #f9f9f9;
margin: 0;
padding: 0;
color: #333;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}

.agradecimento-section {
text-align: center;
padding: 2rem;
background-color: #fff;
border-radius: 15px;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
max-width: 600px;
width: 100%;
}

.agradecimento-section h1 {
font-size: 2.5rem;
color: black;
margin-bottom: 1rem;
}

.agradecimento-section p {
font-size: 1.1rem;
color: #555;
margin-bottom: 1.5rem;
}

.btn-primary {
background-color: #82F74A; 
color: #000; 
padding: 0.75rem 1.5rem;
border: none;
border-radius: 10px;
font-size: 1rem;
font-weight: 600;
text-decoration: none;
cursor: pointer;
transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
text-transform: uppercase;
letter-spacing: 1px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.btn-primary:hover {
background-color: #6CD936; 
transform: translateY(-2px);
box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}

.btn-primary:active {
transform: translateY(0);
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
